// GLOBAL
p {
  hyphens: none;
}
.bold {
  font-weight: bold;
}

.pink {
  color: $pink;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.underline {
  text-decoration: underline;
}

.background-blue {
  background-color: $blue;

      p {font-size: 12px;}
    
}

.background-orange {
  background-color: $orange;
}

.monserrat {
  font-family: 'Montserrat',  Helvetica, sans-serif;
  }

.background-orange {
  background-color: #f9d5c1;
}

.background-medium-gray,
.background-mediumgray {
  background-color: $medium-gray
}

.background-darkgrey,
.background-darkgray {
  background-color: $dark-gray;
}
.background-lightgrey,
.background-lightgray {
background-color: $light-gray
}

.background-black {
  background-color: #000;
}

.background-white {
  background-color: #fff;
}



@media only screen and  (max-width: #{$global-breakpoint}) {
    table.body .columns, table.body .column {
      // padding-left: 20px !important;
      // padding-right: 20px !important;

  }

    table.button table td a {
      text-align: center !important;
      text-align: center;
    }
}

@media (prefers-color-scheme: dark) {

  .darkmode { background-color: #000000 !important}

}


// Custom Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p, ol, li, ul { font-family: 'Roboto', 'Helvetica'; }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



@media all {

  @font-face { 
  
    font-family: 'Euclid Circular B'; 
      src: 
        url('https://cdn.shopify.com/s/files/1/0449/8479/5296/t/4/assets/EuclidCircularB-Semibold-WebS.eot'); /* IE9 Compat Modes */ 
      src: 
        url('https://cdn.shopify.com/s/files/1/0449/8479/5296/t/4/assets/EuclidCircularB-Semibold-WebS.eot?#iefix') 
        format('embedded-opentype'), /* IE6-IE8 */ 
        
        url('https://cdn.shopify.com/s/files/1/0449/8479/5296/t/4/assets/EuclidCircularB-Semibold-WebS.woff') 
        format('woff'), /* Modern Browsers */ 
        
        url('https://cdn.shopify.com/s/files/1/0449/8479/5296/t/4/assets/EuclidCircularB-Semibold-WebS.ttf')
        format('truetype'), /* Safari, Android, iOS */ 
        
        url('https://cdn.shopify.com/s/files/1/0449/8479/5296/t/4/assets/EuclidCircularB-Semibold-WebS.svg#webfont') 
        format('svg'); /* Legacy iOS */ 
    } 
}

table.button table td a {
        font-family: "Euclid Circular B", Helvetica;
}

h1 { font-family: "Euclid Circular B", Helvetica; font-weight: 700; } 
h2 { font-family: "Euclid Circular B", Helvetica; font-weight: 700; } 
h3 { font-family: "Euclid Circular B", Helvetica; font-weight: bold; } 
h4 { font-family: "Euclid Circular B", Helvetica; font-size: 24px; font-weight: bold; }
h5 {font-family: "Euclid Circular B", Helvetica; font-size: 16px; font-weight: bold; color: #ffffff;}