 <center>
     <table class="background-lightgray" style="width: 100%">
         <tr>
             <td style="width: 20px;">

             </td>
             <td>
                 <spacer size="20"></spacer>
                 <p class="small-text-center" style="font-size: 18px;"><strong>Policy: Aussie Hazard
                         Cover</strong></p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Insurer:</strong> The Hollard Insurance Company Ltd
                     (ABN 78 090 584 473, AFSL 241436)</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Issue Date:</strong> issue-date[xx/xx/xx]</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Expiry Date:</strong> expire-date[xx/xx/xx]</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Policy Start Date:</strong> policy-start[xx/xx/xxxx
                     11.59pm]</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Expiry End Date:</strong> policy-end[xx/xx/xxxx
                     11.59pm]</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Waiting Period:</strong> [waiting period]</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Insured Events:</strong><br>
                     Motor Vehicle Incident<br>
                     Snake Bite Envenomation<br>
                     Tick paralysis</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Insured Pets:</strong><br>
                     [Pet 1]<br>
                     [Pet 2]<br>
                     [Pet 3]<br>
                     [Pet 4]<br>
                     [Pet 5]<br>
                 </p>
                 <spacer size="20"></spacer>
                 <p class="small-text-center" style="font-size: 18px;">
                     <strong>The following benefits apply:</strong></p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Annual Benefit Limit:</strong> $10,000<br>
                     <strong>Excess:</strong> $200<br>
                     <strong>Insured Event Limit:</strong> 3<br></p>
                 <spacer size="20"></spacer>
                 <p class="small-text-center" style="font-size: 18px;">
                     <strong>
                         Other details you need to know
                     </strong></p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     The person insured under this confirmation of cover is <strong>[Member Name]
                         (you)</strong>.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     This confirmation of cover has been issued as an automatic benefit under your
                     PetCulture [Silver / Gold] membership. The Policyholder of the insurance policy is
                     PetCulture Group Pty Ltd ABN 69 644 613 098 <strong>(PetCulture)</strong>.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     TAlthough PetCulture is the Policyholder, you have the day-to-day operation of your
                     insurance cover under the policy (including making claims under the insurance cover,
                     varying the insurance cover (e.g. to include details of a new pet) and cancelling
                     your insurance cover).
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     If you wish to make a claim, or vary or cancel your insurance cover, you can log
                     into your account at:
                     <a
                         href="https://www.petculture.com.au/Account/Login"><strong>www.petculture.com.au/Account/Login</strong></a>.
                     Valid claims under your
                     insurance cover will be
                     paid to you or the veterinary
                     practice (as appropriate) in accordance with the terms of your insurance cover.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     PetCulture (as the Policyholder) has paid, and will pay, the premium in respect of
                     your insurance cover from the amount
                     payable for your [Silver / Gold] membership. If you cancel the insurance cover, any
                     refund of premium paid will be paid
                     to PetCulture and will not be paid to you. If you fail to pay the amount payable for
                     your [Silver / Gold] membership of
                     the, subject to any notices required by law, your insurance cover will be cancelled.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     A cancellation of your [Silver / Gold] membership by you will also be deemed to
                     include a cancellation by you of your insurance cover.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     PetCulture is the owner of the group insurance policy under which your insurance
                     cover is issued. PetCulture does not
                     represent the insurer, and does not provide to you financial services of any nature
                     (including financial product advice,
                     issuing, arranging or dealing), in respect of the group insurance policy or your
                     insurance cover. PetCulture is
                     authorised to represent insurers, and to provide financial services (including
                     financial product advice, issuing,
                     arranging and dealing) in respect of certain other insurance products promoted and
                     distributed by PetCulture.
                 </p>
                 <spacer size="20"></spacer>
             </td>
             <td style="width: 20px;">

             </td>
         </tr>
     </table>
 </center>