 <center>
     <table class="background-lightgray" style="width: 100%">
         <tr>
             <td style="width: 20px;">

             </td>
             <td>
                 <spacer size="20"></spacer>
                 <p class="small-text-center"><strong>Policy:</strong> Pet Culture Group Pet Insurance - Aussie Hazard Cover</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Insurer:</strong> The Hollard Insurance Company Ltd (ABN 78 090 584 473, AFSL 241436) </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Issue Date:</strong> \{{event|lookup:'policyIssueDate'}}</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Expiry Date:</strong> \{{event|lookup:'policyExpiryDate'}}</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center">Your cover will remain in place for as long as you maintain your PetCulture membership (Silver or Gold). You are eligible for up to 12 months of cover from your Issue Date.</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Waiting Period:</strong> \{{event|lookup:'waitingPeriod'}}</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Insured Events:</strong><br>
                     Motor Vehicle Incident<br>
                     Snake Bite Envenomation<br>
                     Tick paralysis</p>
                 <spacer size="10"></spacer>
                <p class="small-text-center"><strong>Insured Pets:</strong></p>
                <p class="small-text-center">You currently do not have any pets added to your account. Your Aussie Hazard Cover commences today and will remain valid for as long as you retain your PetCulture membership. To cover your pet, login to your account and add the details of up to 5 pets. \{{event|lookup:'petList'}}</p>
                <p class="small-text-center">Please note, to make a valid claim, your insured pet must be 8 weeks of age, or older and must be listed in your PetCulture account.</p>
                 <spacer size="20"></spacer>
                 <p class="small-text-center" style="font-size: 18px;">
                     <strong>The following benefits apply:</strong></p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center"><strong>Annual Benefit Limit:</strong> $10,000<br>
                     <strong>Excess:</strong> $200<br>
                     <strong>Insured Event Limit:</strong> 3<br></p>
                 <spacer size="20"></spacer>
                 <p class="small-text-center" style="font-size: 18px;">
                     <strong>
                         Other details you need to know
                     </strong></p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     The person insured under this confirmation of cover is <strong>\{{event|lookup:'firstName'}} \{{event|lookup:'lastName'}} (you).</strong>.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     This confirmation of cover has been issued as an automatic benefit under your
                     PetCulture [Silver / Gold] membership. The Policyholder of the insurance policy is
                     PetCulture Group Pty Ltd ABN 69 644 613 098 <strong>(PetCulture)</strong>.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     Although PetCulture is the Policyholder, you have the day-to-day operation of your
                     insurance cover under the policy (including making claims under the insurance cover,
                     varying the insurance cover (e.g. to include details of a new pet) and cancelling
                     your insurance cover).
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     If you wish to make a claim, or vary or cancel your insurance cover, you can log
                     into your account at:
                     <a
                         href="https://www.petculture.com.au/Account/Login"><strong>www.petculture.com.au/Account/Login</strong></a>.
                     Valid claims under your
                     insurance cover will be
                     paid to you or the veterinary
                     practice (as appropriate) in accordance with the terms of your insurance cover.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                     PetCulture (as the Policyholder) has paid, and will pay, the premium in respect of
                     your insurance cover from the amount
                     payable for your [Silver / Gold] membership. If you cancel the insurance cover, any
                     refund of premium paid will be paid
                     to PetCulture and will not be paid to you. If you fail to pay the amount payable for
                     your [Silver / Gold] membership of
                     the, subject to any notices required by law, your insurance cover will be cancelled.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">A cancellation of your PetCulture membership (Silver or Gold) by you will also be deemed to include a cancellation by you of your insurance cover</p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                    PetCulture is the owner of the group insurance Policy under which insurance cover is issued in connection with PetCulture Silver membership and PetCulture Gold membership plans. In addition, PetCulture, an authorised representative (AR Number 001284860) of PetSure (Australia) Pty Ltd ABN 95 075 949 923 AFSL420183 (PetSure) is authorised to provide financial product advice in respect of the Policy, and to arrange for information to be collected from you but not issue cover in respect of the Policy, and provide claims management by receiving and lodging claim forms with the Insurer. In doing so, PetCulture acts on behalf of PetSure and the Insurer that issued the group insurance Policy and not on your behalf.
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                    PetCulture’s Privacy Collection Statement and Privacy Policy can be found here: <a href="https://www.petculture.com.au/privacy-policy" target="_blank">https://www.petculture.com.au/privacy-policy</a>
                 </p>
                 <spacer size="10"></spacer>
                 <p class="small-text-center" style="font-size: 12px;">
                    Please refer to the PDS available at <a href="https://www.petculture.com.au/aussie-hazard-cover-pds" target="_blank">www.petculture.com.au/aussie-hazard-cover-pds</a> for full terms and conditions of the cover, including exclusions and claim requirements.
                </p>
                <spacer size="10"></spacer>
                <p class="small-text-center" style="font-size: 12px;">
                    To make a valid claim, your insured pet/s must be 8 weeks of age or older.
                </p>
                 <spacer size="20"></spacer>
             </td>
             <td style="width: 20px;">

             </td>
         </tr>
     </table>
 </center>