<!-- Delivery Policies Start -->
<container>
    <row>
        <columns>
            <spacer size="40"></spacer>
            <div class="show-for-large">
                <table>
                    <tr>
                        <td style="width: 15px"></td>
                        <td style="width: 120px" class="text-center">
                            <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/bae7f71e-c919-4e3e-ba5d-26826fdd4535.png"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" />
                            <spacer size="5"></spacer>
                            <p class="text-center">Members get free metro delivery on orders over $49*</p>
                        </td>
                        <td style="width: 40px"></td>
                        <td style="width: 120px" class="text-center">
                            <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/8b7c850b-0e4d-4b3d-9125-add1b4cea60d.png"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" />
                            <spacer size="5"></spacer>
                            <p class="text-center">Shop with confidence - 30 day returns</p>
                        </td>
                        <td style="width: 40px"></td>
                        <td style="width: 120px" class="text-center">
                            <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/1e4e0bf6-3ee1-41c4-9f93-076c4a54cc74.png"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" />
                            <spacer size="5"></spacer>
                            <p class="text-center">24/7 vet service via chat or video</p>
                        </td>
                        <td style="width: 15px"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="hide-for-large">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 120px" class="text-center">
                            <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/bae7f71e-c919-4e3e-ba5d-26826fdd4535.png"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" />

                            <p class="text-center">Members get free metro delivery on orders over $49*</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 120px" class="text-center">
                            <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/8b7c850b-0e4d-4b3d-9125-add1b4cea60d.png"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" />
                            <p class="text-center">Shop with confidence - 30 day returns</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 120px" class="text-center">
                            <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/1e4e0bf6-3ee1-41c4-9f93-076c4a54cc74.png"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" />
                            <p class="text-center">24/7 vet service via chat or video</p>
                        </td>
                    </tr>
                </table>
            </div>
            <spacer size="40"></spacer>
            <p class="text-center" style="font-size: 12px; line-height: 140%">
                <i>*Free delivery over $49 is applied to Metro locations only, discounts provided to
                    regional locations. Excludes NT & TAS - please refer to
                    <a href="https://www.petculture.com.au/delivery" style="text-decoration: underline"><strong>Delivery
                            policy</strong></a>.</i>
            </p>
            <spacer size="30"></spacer>
        </columns>
    </row>
</container>
<!-- Delivery Policies End -->