<!-- Delivery Policies Start -->
<container>
    <row>
        <columns>
            <spacer size="40"></spacer>
            <div class="show-for-large">
                <table>
                    <tr>
                        <td style="width: 15px"></td>
                        <td style="width: 120px" class="text-center">
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><img src="
                                https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/176e2ef2-bd20-4ca8-b7bb-ec8e81df5799.png"
                                width="120"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" /></a>
                            <spacer size="5"></spacer>
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank">
                                <p class="text-center">Members get free metro delivery on orders over $49*</p></a>
                        </td>
                        <td style="width: 40px"></td>
                        <td style="width: 120px" class="text-center">
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><img
                                    src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/5e81cee7-2a70-4d2e-a371-bde8c1815748.png"
                                    width="120"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" /></a>
                            <spacer size="5"></spacer>
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank">
                                <p class="text-center">Shop with confidence - 30 day returns</p></a>
                        </td>
                        <td style="width: 40px"></td>
                        <td style="width: 120px" class="text-center">
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><img
                                    src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/796ddec6-e106-4e08-9a0d-f14ba9804f05.png"
                                    width="120"
                                alt="•" style="display: inline-block; font-size: 30px; color:#282828;" /></a>
                            <spacer size="5"></spacer>
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank">
                                <p class="text-center">24/7 vet service via chat or video</p></a>
                        </td>
                        <td style="width: 15px"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="hide-for-large">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 120px" class="text-center">
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/176e2ef2-bd20-4ca8-b7bb-ec8e81df5799.png" width="120" alt="•" style="display: inline-block; font-size: 30px; color:#282828; width:120px;" /></a>

                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><p class="text-center">Members get free metro delivery on orders over $49*</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 120px" class="text-center">
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/5e81cee7-2a70-4d2e-a371-bde8c1815748.png" width="120" alt="•" style="display: inline-block; font-size: 30px; color:#282828; width:120px;" /></a>
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><p class="text-center">Shop with confidence - 30 day returns</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 120px" class="text-center">
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/796ddec6-e106-4e08-9a0d-f14ba9804f05.png" width="120" alt="•" style="display: inline-block; font-size: 30px; color:#282828; width:120px;" /></a>
                            <a href="https://www.petculture.com.au/memberships-rewards" target="_blank"><p class="text-center">24/7 vet service via chat or video</p></a>
                        </td>
                    </tr>
                </table>
            </div>
            <spacer size="40"></spacer>
            <p class="text-center" style="font-size: 12px; line-height: 140%">
                <i>*Free delivery over $49 is applied to Metro locations only, discounts provided to
                    regional locations. Excludes NT & TAS - please refer to
                    <a href="https://www.petculture.com.au/delivery" style="text-decoration: underline"><strong>Delivery
                            policy</strong></a>.</i>
            </p>
            <spacer size="30"></spacer>
        </columns>
    </row>
</container>
<!-- Delivery Policies End -->