<container>
    <row>
        <columns>
            <!-- Delivery Summary Start Mobile-->
            <div class="hide-for-large">
                <table class="background-blue">
                    <tr>
                        <td>
                            <spacer size="20"></spacer>
                            <h3 class="text-center">Your auto-delivery summary</h3>
                            <spacer size="15"></spacer>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center" style="font-size: 14px">
                                <strong>Order: #0000123456789</strong>
                                <br />
                                Placed on 8th March 2021
                            </p>
                            <spacer size="10"></spacer>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p style="font-size: 14px" class="text-center">
                                <strong>Shipping info:</strong><br />
                                James Smith<br />
                                100 Harris St, Sydney NSW 2009<br />
                                Australia<br />
                                T: 0412345678
                            </p>
                            <spacer size="10"></spacer>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center">
                                <strong>Tracking number:</strong> 1122334567899<br />
                                <strong>Carrier:</strong> AusPost<br />
                                <strong>Service:</strong> Standard 3-7 Business days
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center"><strong>Auto-order frequency</strong>: Every 3 weeks</p>
                            <spacer size="20"></spacer>
                        </td>
                    </tr>
                </table>
                <spacer size="20"></spacer>
            </div>
            <!-- Delivery Summary End Mobile-->
            <!-- Delivery Summary Start Desktop-->
            <div class="show-for-large">
                <table class="background-blue">
                    <tr>
                        <td></td>
                        <td style="width: 20px"></td>
                        <td>
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <spacer size="30"></spacer>
                                        <h3 class="text-center">Your auto-delivery summary</h3>
                                        <spacer size="15"></spacer>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 14px"><strong>Order: #0000123456789</strong></p>
                                        <p>Placed on 8th March 2021</p>
                                    </td>
                                    <td>
                                        <p style="font-size: 14px"><strong>Shipping info:</strong></p>
                                        <p>
                                            James Smith<br />
                                            100 Harris St, Sydney NSW 2009<br />
                                            Australia<br />
                                            T: 0412345678
                                        </p>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <strong>Tracking number:</strong> 1122334567899<br />
                                            <strong>Carrier:</strong> AusPost<br />
                                            <strong>Service:</strong> Standard 3-7 Business days
                                        </p>
                                    </td>
                                    <td>
                                        <p><strong>Auto-order frequency</strong>: Every 3 weeks</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 20px">
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3">
                            <spacer size="20"></spacer>
                        </td>
                    </tr>
                </table>
                <spacer size="30"></spacer>
            </div>
            <!-- Delivery Summary End Desktop  -->
        </columns>
    </row>
</container>

