<!-- Footer Start -->
<container class="background-darkgrey">
    <row>
        <columns>
            <!-- Footer Desktop Start -->
            <div class="show-for-large">
                <table style="vertical-align: bottom">
                    <tr>
                        <td style="vertical-align: bottom">
                            <spacer size="20"></spacer>
                            <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/1914de41-10cf-4cb8-bfdc-9151fa0d92c0.png"
                                alt="pet culture"
                                style="display: inline-block; color: #fff; font-size: 28px; font-family: 'Euclid Circular B', Helvetica, sans-serif; text-align: left;" />
                           <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/6673e9aa-6f3d-4d13-95a9-310f5b669397.png"
                               width="175" style="width: 175px; display: inline-block" />
                        </td>
                        <td></td>

                        {{>social-icons-desktop}}

                    </tr>
                </table>
            </div>
            <!-- Footer Desktop End -->
            <!-- Footer Mobile Start -->
            <div class="hide-for-large">
                <table>
                    <tr>
                        <td style="vertical-align: bottom">
                            <spacer size="20"></spacer>
                            <center>
                                <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/687000a4-ee01-4a8e-bb21-0110b8561102.png"
                                    alt="pet culture"
                                    style="display: inline-block; color: #fff; font-size: 28px; font-family: 'Euclid Circular B', Helvetica, sans-serif; text-align: left;" />
                            </center>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 250px">
                            <spacer size="30"></spacer>
                            <p class="text-center" style="color: #fff; font-size: 16px; font-weight: bold">
                                Get your daily dose of pets
                            </p>
                            {{>social-icons-mobile}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/6673e9aa-6f3d-4d13-95a9-310f5b669397.png"
                                    width="195" style="width: 195px; display: inline-block" />
                            </center>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Footer Mobile End -->
        </columns>
    </row>
</container>