<!-- Footer Start -->
<container class="background-darkgrey">
    <row>
        <columns>
            <!-- Footer Desktop Start -->
            <div class="show-for-large">
                <table style="vertical-align: bottom">
                    <tr>
                        <td style="vertical-align: bottom">
                            <spacer size="20"></spacer>
 <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/f4fc73ad-8a22-4249-9129-6cdd6b8eb002.png"
     width="175" alt="pet culture"
     style="width: 175px; display: inline-block; color: #fff; font-size: 28px; font-family: 'Euclid Circular B', Helvetica, sans-serif; text-align: left;" />
                          <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/d5500ff0-d5cb-4416-86b6-ee16645bbbb1.png"
                              width="175" style="width: 175px; display: inline-block" />
                        </td>
                        <td></td>

                       {{>social-icons-desktop}}

                    </tr>
                </table>
            </div>
            <!-- Footer Desktop End -->
            <!-- Footer Mobile Start -->
            <div class="hide-for-large">
                <table>
                    <tr>
                        <td style="vertical-align: bottom">
                            <spacer size="20"></spacer>
                            <center>
                                <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/fb503d8b-2ec4-409c-a090-d5ad8b29332f.png"
                                    alt="pet culture" width="175"
                                    style="width: 175px; display: inline-block; color: #fff; font-size: 28px; font-family: 'Euclid Circular B', Helvetica, sans-serif; text-align: left;" />
                            </center>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 250px">
                            <spacer size="30"></spacer>
                            <p class="text-center" style="color: #fff; font-size: 16px; font-weight: bold">
                                Get your daily dose of pets
                            </p>
                            {{>social-icons-mobile}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                 <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/d5500ff0-d5cb-4416-86b6-ee16645bbbb1.png"
                                     width="195" style="width: 195px; display: inline-block" />
                            </center>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Footer Mobile End -->
        </columns>
    </row>
</container>