<!-- Gold cover start -->
<container>
    <row>
        <columns>
            <div class="show-for-large">
                <center>
                    <table style="width: auto;">
                        <tr>
                            <td style="vertical-align: middle; width: 50px;">
                                <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/b57dd027-cb39-40ec-8c51-73c71738050a.png"
                                    width="37"
                                    style="display: inline-block; font-size: 30px; color:#282828; width:37px;">
                            </td>
                            <td style="vertical-align: middle;">
                                <h3 style="margin-bottom: 0; margin: 0;">Confirmation of cover</h3>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
            <div class="hide-for-large">
                <center>
                    <table style="width: auto;">
                        <tr>
                            <td style="vertical-align: middle; width: 50px; text-align: center">
                                <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/b57dd027-cb39-40ec-8c51-73c71738050a.png"
                                    width="50"
                                    style="display: inline-block; font-size: 30px; color:#282828; width:50px;">
                                    <spacer size="10"></spacer>
                            </td>
                        <tr>
                            <td style="vertical-align: middle;">
                                <h3 style="margin-bottom: 0; margin: 0;">Confirmation of cover</h3>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
            <spacer size="30"></spacer>
            {{>cover-details}}
            <spacer size="40"></spacer>
        </columns>
    </row>
</container>
<!-- Gold Cover end -->