<!-- Order Summary Start -->
<container>
    <row>
        <columns>
            <!-- HR Code Insert Start -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td height="1" style="border-top: 1px solid #c2c2c2; font-size: 1px; height: 1px; line-height: 1px">
                        &nbsp;
                    </td>
                </tr>
            </table>
            <!-- HR Code Insert End -->
            <!-- Order Summary Start -->
            <spacer size="30"></spacer>
            <h3 class="text-center">Order summary</h3>
            <spacer size="20"></spacer>
            {% if event.extra.line_items %}
            <!-- Order Summary Desktop Start -->
            <div class="show-for-large">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 25%">&nbsp;</td>
                        <td style="width: 35%">
                            <p><strong>Product</strong></p>
                        </td>
                        <td style="width: 15%">
                            <p><strong>Qty</strong></p>
                        </td>
                        <td style="width: 25%">
                            <p><strong>Item total</strong></p>
                        </td>
                    </tr>
                </table>
                <!-- Order Item Desktop Start -->
                <table style="width: 100%; border-bottom: 1px solid #c2c2c2;">
                    {% for item in event.extra.line_items %}
                    <tr>
                        <td style="width: 25%" valign="top" style="vertical-align: top;">
                            <a href="https://www.petculture.com.au/products/{{ item.product.handle }}"><img
                                    src="\{{ item.product.images.0.src }}"
                                    alt="item.product.title" style="font-size: 12px; display: inline-block"/></a>
                        </td>

                        <td style="width: 35%">
                            <p style="font-size: 12px">
                                \{{ item.product.title }}<br />
                                SKU: \{{ item.sku }}<br />
                                <br />
                                <br />
                                <strong>Variant:</strong> \{{ item.product.variant.options.Title|title }} <br />
                                <br />
                                <strong>Auto-order frequency:</strong> \{{item.product.properties|lookup:"_subscription_frequency"}}
                            </p>
                            <spacer size="50"></spacer>
                        </td>
                        <td style="width: 15%">
                            <p><strong>\{{ item.quantity | floatformat:0 }}</strong></p>
                        </td>
                        <td style="width: 25%">
                            <p><strong>$\{{ item.line_price | floatformat:2 }}</strong></p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <!-- Order Item Desktop End -->
            </div>
            <!-- Order Summary Desktop End -->
            <!-- Order Summary Mobile Starts-->
            <div class="hide-for-large">
                <!-- Order Item Mobile Start -->
                <spacer size="20"></spacer>
                <table style="width: 100%; border-bottom: 1px solid #c2c2c2">
                    {% for item in event.extra.line_items %}
                    <tr>
                        <td>
                            <center>
                                <img src="\{{ item.product.images.0.src }}"
                                      alt="item.product.title" style="font-size: 12px;"/>
                            </center>
                            <spacer size="10"></spacer>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center" style="font-size: 14px">
                                \{{ item.product.title }}<br />
                                SKU: \{{ item.sku }}</p>
                            <p class="text-center"><strong>Qty:</strong> \{{ item.quantity | floatformat:0 }}</p>
                            <p class="text-center"><strong>Variant:</strong>
                                \{{ item.product.variant.options.Title|title }}</p>
                                <p class="text-center"><strong>Auto-order frequency:</strong>
                                    \{{item.product.properties|lookup:"_subscription_frequency"}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center"><strong>Item total:</strong><br>
                                <strong>$\{{ item.line_price | floatformat:2 }}</strong></p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <!-- Order Item Mobile End -->
                <!-- Order Summary Mobile Ends-->
            </div>
            {% else %} {% endif %}
            <spacer size="20"></spacer>
            <!-- Order Summary Desktop Starts-->
            <div class="show-for-large">
                <table style="width: 100%;">
                    <tr>
                      <td style="width: 45%" valign="top"></td>
                      <td style="width: auto"> <p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;"><strong>Sub-Total:</strong></p></td>
                      <td width="20" rowspan="6" style="width: 25px">&nbsp;</td>
                      <td style="width: 25%"> <p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;"><strong>$\{{ event.extra.total_line_items_price }}</strong></td>
                    </tr>
                    <tr>
                      <td style="width: 45%" valign="top"></td>
                      <td style="width: auto" valign="top"><p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;"><strong>Shipping:</strong></p></td>
                      <td style="width: 25%" valign="top"> <p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;"><strong>{% if event.extra.shipping_lines.0.price == "0.00" %} FREE {% else %} $\{{ event.extra.shipping_lines.0.price }}</strong>{% endif %}</td>
                    </tr>
                    <tr>
                      <td style="width: 45%" valign="top"></td>
                      <td style="width: auto" valign="top"><p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;">{% if event.extra.total_discounts_set.presentment_money.amount != "0.00" %}<strong>Discount:</strong><br>(\{{event.extra.discount_applications.0.title|title }}){% endif %}</p></td>
                      <td style="width: 25%" valign="top"> <p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;">
                                <strong>{% if event.extra.total_discounts_set.presentment_money.amount != "0.00" %}<strong>-$\{{ event.extra.total_discounts_set.presentment_money.amount }}</strong>
                                {% endif %}</strong></td>
                    </tr>
                    <tr>
                      <td style="width: 45%" valign="top"></td>
                      <td style="width: auto">&nbsp;</td>
                      <td style="width: 25%"></td>
                    </tr>
                    <tr>
                      <td style="width: 45%" valign="top"></td>
                      <td style="width: auto" valign="top"><p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;"><strong><span style="font-size: 14px;">Order Total:</span></strong></p></td>
                      <td style="width: 25%" valign="top"> <p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;"><strong><span style="font-size: 14px;">$\{{ event|lookup:'$value' | floatformat:2 }}</span></strong></td>
                    </tr>
                    <tr>
                        <td style="width: 45%" valign="top">
                        </td>
                        <td style="width: auto" valign="top"><p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;">(Inc GST):</p>
                        </td>
                        <td style="width: 25%" valign="top">
                            <p style="font-size: 12px; line-height: 1.5; margin-bottom: 0;">
								<strong>$\{{ event.extra.tax_lines.0.price }}</strong></p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Order Summary Desktop Ends-->
            <!-- Order Summary Mobile Starts-->
            <div class="hide-for-large">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <p class="text-center" style="font-size: 12px"><strong>Sub-Total:
                                    ${{ event.extra.total_line_items_price }}</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center" style="font-size: 12px"><strong>Shipping:
                                    {% if event.extra.shipping_lines.0.title == "Free Standard Shipping" %}FREE{% else %}
                                    (\{{ event.extra.shipping_lines.0.price }}){% endif %}:</strong><br />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center" style="font-size: 12px">
                                {% if event.extra.total_discounts_set.presentment_money.amount != "0.00" %}<strong>Discount
                                </strong>(\{{ event.extra.discount_applications.0.title|title }}):<br />
                                <strong>-$\{{ event.extra.total_discounts_set.presentment_money.amount }}</strong>
                                {% endif %}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center" style="font-size: 12px"><strong>Order Total:
                                    <strong>$\{{ event|lookup:'$value' | floatformat:2 }}</strong></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-center" style="font-size: 12px">(Inc GST)
                                ${{ event.extra.tax_lines.0.price }}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Order Summary Mobile Ends-->
            <spacer size-lg="20" size-sm="25"></spacer>
        </columns>
    </row>
</container>
<!-- Order Summary End -->