  <!-- Game Changer Start Cat -->
  <container>
    <center>
      <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/6415bf3f-3813-4293-8de8-bf402e3c576d.png"
        width="600" style="width: 600px;" />
    </center>
  </container>
  <container class="background-orange">
    <row>
      <columns>
        <spacer size="30"></spacer>
        <h3 class="text-center">
          FitBark health tracker
        </h3>
        <spacer size-lg="10" size-sm="10"></spacer>
        <p class="text-center">Your FitBark health tracker to monitor your furry friend 24/7. It’s on its way!</p>
        <spacer size-lg="30" size-sm="10"></spacer>
      </columns>
    </row>
  </container>
  <container>
    <spacer size="20"></spacer>
  </container>
  <!-- Game Changer Cat End -->