  <!-- Game Changer Start Cat -->
  <container class="background-white">
    <spacer size="20"></spacer>
    <center>
      <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/aa3c06f7-980d-4172-bf18-0313cf9bf5e2.png"
        width="600" style="width: 600px;" />
    </center>
  </container>
  <container class="background-medium-gray">
    <center>
      <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/3f43eb09-27d2-4c3b-b787-2a803bd69faf.png"
        width="600" style="width: 600px;" />
    </center>
  </container>
  <container class="background-medium-gray">
    <center>
      <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/49b29013-6f89-4251-8881-925fbce18b6d.png"
        width="600" style="width: 600px;" />
    </center>
  </container>
  <container class="background-medium-gray">
    <row>
      <columns>
        <spacer size="10"></spacer>
        <h3 class="text-center">
          Free delivery for metro areas and discounted delivery for regional areas.
        </h3>
        <spacer size="20"></spacer>
        <p>You could get even more and save even more by having your order auto-delivered.
          You’ll get 5% off your orders too, on top of any other discounts.</p>
        <spacer size="10"></spacer>
        <p>Plus you can pause, edit, and manage your orders easily in your PetCulture account.
          We hope you take advantage of your Silver member benefits and we thank you for shopping with us!
        </p>
        <spacer size="20"></spacer>
        {{>button-get-autodelivery}}
        <spacer size="20"></spacer>
      </columns>
    </row>
  </container>
  <!-- Game Changer Cat End -->