<!-- Silver membership benefits start -->
<container>
    <row>
        <columns>
            <!-- HR Code Insert Start -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td height="1" style="border-top: 1px solid #c2c2c2; font-size: 1px; height: 1px; line-height: 1px">
                        &nbsp;
                    </td>
                </tr>
            </table>
            <!-- HR Code Insert End -->
            <!-- Silver membership benefits desktop start -->
            <div class="show-for-large">
                <spacer size="30"></spacer>
                <center>
                    <table style="width: 80%;">
                        <tr>
                            <td style="vertical-align: middle;">
                                <h3 class="text-center" style="margin-bottom: 0; margin: 0; ">Just by spending $50 or more a month you get to keep:</h3>
                            </td>
                        </tr>
                    </table>
                    <spacer size="40"></spacer>
                    <center>
                        <table style="width: 80%;">
                            <tr>
                                <td style="vertical-align: top; text-align: left; width: 75px;">
                                    <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/742cb207-777f-4d29-bb40-c35ec4808086.png"
                                        width="60" style="width: 60px;">
                                </td>
                                <td style="vertical-align: middle;">
                                    <p class="monserrat" style="font-size: 16px; margin: 0; margin-bottom: 0;">
                                        <strong>$150 worth of extra value a year for free</strong> by shopping with us.</p>                                  
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <spacer size="40"></spacer>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; text-align: left; width: 75px;">
                                    <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/8a6e5c8c-5e78-4d01-a15d-6339e9638af7.png"
                                        width="60" style="width: 60px;">
                                </td>
                                <td style="vertical-align: middle;">
                                    <p class="monserrat" style="font-size: 16px; margin: 0; margin-bottom: 0;">
                                        <strong>Free Aussie Hazard Cover</strong> for up to
                                        <strong>5 household pets</strong>, to cover motor vehicle accidents, tick paralysis and snake bites. As long as you're a Silver member with us you are covered with Aussie Hazard Cover protection.
                                            </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <spacer size="40"></spacer>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; text-align: left; width: 75px;">
                                    <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/9feb2159-33f0-4d5a-926b-107cedbff68e.png"
                                        width="60" style="width: 60px;">
                                </td>
                                <td style="vertical-align: middle;">
                                    <p class="monserrat" style="font-size: 16px; margin: 0; margin-bottom: 0;">
                                        <strong>Free delivery</strong> for metro areas and discounted delivery for regional areas.*</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <spacer size="40"></spacer>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; text-align: left; width: 75px;">
                                    <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/8511f546-1f6b-4d67-8882-547266b0fa0b.png"
                                        width="60" style="width: 60px;">
                                </td>
                                <td style="vertical-align: middle;">
                                    <p class="monserrat" style="font-size: 16px; margin: 0; margin-bottom: 0;">
                                        <strong>10% off</strong> your next purchase</p>
                                </td>
                            </tr>
                        </table>
                    </center>
                    <spacer size="40"></spacer>
            </div>
            <!-- Silver membership benefits desktop end -->
            <!-- Silver membership benefits mobile start -->
            <div class="hide-for-large">
                <spacer size="30"></spacer>
                <center>
                    <table style="width: auto;">
                        <tr>
                            <td>
                                <h3 class="text-center">Just by spending $50 or more a month you get to keep:</h3>
                            </td>
                        </tr>
                    </table>
                    <spacer size="20"></spacer>
                    <center>
                        <table>
                            <tr>
                                <td>
                                    <center>
                                        <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/742cb207-777f-4d29-bb40-c35ec4808086.png"
                                            width="80" style="width: 80px; display:inline-block;">
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <spacer size="10"></spacer>
                                    <p class="monserrat text-center"
                                        style="font-size: 16px; margin: 0; margin-bottom: 0;"> <strong>$150 worth of extra value a year for free</strong> by shopping with us.</p>  
                                    <spacer size="10"></spacer>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <spacer size="40"></spacer>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center>
                                        <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/8a6e5c8c-5e78-4d01-a15d-6339e9638af7.png"
                                            width="80" style="width: 80px; display:inline-block;">
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <spacer size="10"></spacer>
                                    <p class="monserrat text-center"
                                        style="font-size: 16px; margin: 0; margin-bottom: 0;"><strong>Free Aussie Hazard Cover</strong> for up to
                                        <strong>5 household pets</strong>, to cover motor vehicle accidents, tick paralysis and snake bites. As long as you're a Silver member with us you are covered with Aussie Hazard Cover protection.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <spacer size="40"></spacer>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center>
                                        <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/9feb2159-33f0-4d5a-926b-107cedbff68e.png"
                                            width="80" style="width: 80px; display:inline-block;">
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <spacer size="10"></spacer>
                                    <p class="monserrat text-center" style="font-size: 16px; margin: 0; margin-bottom: 0;">
                                        <strong>Free delivery</strong> for metro areas and discounted delivery for regional areas.*</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <spacer size="40"></spacer>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center>
                                        <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/8511f546-1f6b-4d67-8882-547266b0fa0b.png"
                                            width="80" style="width: 80px; display:inline-block;">
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <spacer size="10"></spacer>
                                    <p class="monserrat text-center"
                                        style="font-size: 16px; margin: 0; margin-bottom: 0;"><strong>10% off</strong> your next purchase</p>
                                </td>
                            </tr>
                        </table>
                    </center>
                    <spacer size="40"></spacer>
            </div>
            <!-- Silver membership benefits mobile end -->
        </columns>
    </row>
</container>