<container>
    <row>
        <columns>
            <!-- Silver Benefits Start Mobile-->            
            <div class="hide-for-large">
                <center>
                    <table style="width: 80%">
                        <tr>
                            <td>
                                <spacer size="20"></spacer>
                                <h3 class="text-center">We wouldn't want you to lose</h3>
                                <spacer size="15"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/742cb207-777f-4d29-bb40-c35ec4808086.png"
                                        style="display: inline-block; width: 80px;">
                                </center>
                                <spacer size="15"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="monserrat text-center" style="font-size: 16px; margin: 0; margin-bottom: 0;">
                                    <strong>$150
                                        worth of extra value a
                                        year for
                                        free</strong> by spending over $50 a month on your pet.</p>
                                        <spacer size="25"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <spacer size="15"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/8a6e5c8c-5e78-4d01-a15d-6339e9638af7.png"
                                        style="display: inline-block; width: 80px;">
                                </center>
                                <spacer size="15"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;">
                                <p class="monserrat text-center" style="font-size: 16px; margin: 0; margin-bottom: 0;">
                                    <strong>Free
                                        Aussie Hazard Cover</strong>
                                    for up to <strong>5 household pets, </strong>to cover motor vehicle accidents,
                                    tick
                                    paralysis and snake bites.</p>
                                    <spacer size="25"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <spacer size="15"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/9feb2159-33f0-4d5a-926b-107cedbff68e.png"
                                        style="display: inline-block; width: 80px;">
                                </center>
                                <spacer size="15"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;">
                                <p class="monserrat text-center" style="font-size: 16px; margin: 0; margin-bottom: 0;"><strong>Free
                                        delivery</strong> for metro areas and discounted delivery for regional areas.*
                                </p>
                            </td>
                        </tr>
                    </table>
                </center>
                <spacer size="40"></spacer>
            </div>
            <!-- Silver Benefits End Mobile-->

            <!-- Silver Benefits Start Desktop-->

            <div class="show-for-large">
                <center>
                    <table style="width: 80%">
                        <tr>
                            <td colspan="2">
                                <spacer size="30"></spacer>
                                <h3 class="text-center">We wouldn't want you to lose</h3>
                                <spacer size="25"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle; text-align: left; width: 75px;">
                                <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/742cb207-777f-4d29-bb40-c35ec4808086.png"
                                    width="60" style="width: 60px;">
                            </td>
                            <td style="vertical-align: middle;">
                                <p class="monserrat" style="font-size: 16px; margin: 0; margin-bottom: 0;"><strong>$250
                                        worth of extra value a
                                        year for
                                        free</strong> by spending over $50 a month on your pet.</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <spacer size="25"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle; text-align: left; width: 75px;">
                                <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/8a6e5c8c-5e78-4d01-a15d-6339e9638af7.png"
                                    width="60" style="width: 60px;">
                            </td>
                            <td style="vertical-align: middle;">
                                <p class="monserrat" style="font-size: 16px; margin: 0; margin-bottom: 0;"><strong>Free
                                        Aussie Hazard Cover</strong>
                                    for up to <strong>5 household pets, </strong>to cover motor vehicle accidents,
                                    tick
                                    paralysis and snake bites.</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <spacer size="25"></spacer>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle; text-align: left; width: 75px;">
                                <img src="https://d3k81ch9hvuctc.cloudfront.net/company/YxcUcn/images/9feb2159-33f0-4d5a-926b-107cedbff68e.png"
                                    width="60" style="width: 60px;">
                            </td>
                            <td style="vertical-align: middle;">
                                <p class="monserrat" style="font-size: 16px; margin: 0; margin-bottom: 0;"><strong>Free
                                        delivery</strong>
                                    for
                                    metro areas and discounted delivery for regional areas.*</p>
                            </td>
                        </tr>
                    </table>

                </center>
                <spacer size-lg="40"></spacer>
            </div>
            <!-- Silver Benefits End Desktop  -->
            {{>button-renew-your-silver-membership}}
        </columns>
    </row>
</container>