<container>
    <row>
        <columns>
            <!-- What do I do next Start-->
            <table class="background-blue">
                <tr>
                    <td style="width: 30px"></td>
                    <td>
                        <spacer size="30"></spacer>
                        <h3 class="text-center">What do I do next?</h3>
                        <spacer size="15"></spacer>
                    </td>
                    <td style="width: 30px"></td>
                </tr>
                <tr>
                    <td style="width: 30px"></td>
                    <td>
                        <p class="small-text-center" style="font-size: 14px">Nothing for now! Just by spending $50 a
                            month on your pet’s fave
                            food and other goodies, you get an extra $150 value per year, free.</p>
                        <spacer size="10"></spacer>

                        <p class="small-text-center" style="font-size: 14px">This includes free Aussie Hazard Cover
                            for
                            up to 5 household pets,
                            to cover against motor vehicle accidents, tick paralysis and snake bites. As long as
                            you're
                            a Silver member with us you are covered with Aussie Hazard Cover protection.</p>
                        <spacer size="10"></spacer>

                        <p class="small-text-center" style="font-size: 14px">Plus get loads of free advice and
                            product
                            recommendations
                            personalised to you and your pet’s profile.
                        </p>
                        <spacer size="40"></spacer>
                    </td>
                    <td style="width: 30px"></td>
                </tr>
            </table>
            <!-- What do I do next End-->
            <spacer size="30"></spacer>
        </columns>
    </row>
</container>